<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>crudapp</title>
</head>
<body>
    <h1>crudapp</h1>
    <form action="/countries" method="POST">
        <input type="text" placeholder="country" name="country">
        <button type="submit">add</button>
    </form>
     <h2>countries</h2>
    <ul class="countries">
        <% for(var i=0; i<countries.length; i++) {%>
            <li class="country">
                <span><%= countries[i].country %></span>
            </li>
        <% } %>
    </ul>
    <div>
        <h3>update</h3>
        <button id="update-button">replace</button>
    </div>
    <div>
        <h3>delete</h3>
        <button id="delete-button">remove</button>
        <div id="message"></div>
    </div>
    <script src="/main.js">

    </script>
</body>
</html>